@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Index Page */
.inicie-page {
    background-image: url(../imagenes/navbar/fondologo1.jpg);
    height: 100vh;
    background-position: center;
}
/* Index Page Finish */


/* Team Enter*/

/* Person 1 */
.person1 {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
    border: 4px solid black;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(207, 244, 252, 0.5);
}

.franco {
    height: max-content;
    width: 8rem;
}
.pA {
    height: max-content;
    width: 7rem;
}
.medu {
    height: max-content;
    width: 7rem;
}
.infoF {
    padding: 2rem;
    font-size: 0.9rem;
    justify-content: center;
    text-align: center;
}
/* Person 1 Finish */

/* Person 2 */

.person2 {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
    border: 4px solid black;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(207, 244, 252, 0.5);
}

.juani {
    height: max-content;
    width: 8rem;
}
.tA {
    height: max-content;
    width: 7rem;
}
.tK {
    height: max-content;
    width: 7rem;
}
.infoJ {
    padding: 2rem;
    font-size: 0.9rem;
    justify-content: center;
    text-align: center;
}
/* Person 2 Finish */

/* Person 3 */

.person3 {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
    border: 4px solid black;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(207, 244, 252, 0.5);
}

.fran {
    height: 13rem;
    width: 12rem;
}
.axe {
    height: max-content;
    width: 7rem;
}
.doom {
    height: max-content;
    width: 7rem;
}
.infoFr {
    padding: 2rem;
    font-size: 0.9rem;
    justify-content: center;
    text-align: center;
}
/* Person 3 Finish */

/* Person 4 */

.person4 {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
    border: 4px solid black;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(207, 244, 252, 0.5);
}

.chelo {
    height: max-content;
    width: 8rem;
}
.earth {
    height: max-content;
    width: 7rem;
}
.qop {
    height: max-content;
    width: 7rem;
}
.infoC {
    padding: 2rem;
    font-size: 0.9rem;
    justify-content: center;
    text-align: center;
}
/* Person 4 Finish */

/* Person 5 */

.person5 {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
    border: 4px solid black;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(207, 244, 252, 0.5);
}

.jr {
    height: 14rem;
    width: 10rem;
}
.wr {
    height: max-content;
    width: 7rem;
}
.wd {
    height: max-content;
    width: 7rem;
}
.infoJr {
    padding: 2rem;
    font-size: 0.9rem;
    justify-content: center;
    text-align: center;
}
/* Person 5 Finish */

.backimg {
    background-image: url(../imagenes/navbar/fondoAegis.jpg);
    /*height: 100%vh;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
/* Team Finish */

/* SHOP Inicie*/
.container{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
}

/* SHOP FINISH*/

/* Quienes Page */
body {
    background-color: #f2f2f2;
}
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}
.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img {
    transform: scale(1.2);
}
.about-content {
    flex: 1;
}
.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
/* Quienes Finish */

/* Contact Page */

.icons-reds {
    font-size: 2rem;
}
.info-contact {
    background-color: rgba(207, 244, 252, 0.5);
}

.inicie-contact {
    background-image: url(../imagenes/navbar/fondohero.jpg);
    /*height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

.contactAndForm {
    margin-top: 2.5rem;
    width: 100%;
}
/* Contact Page Finish */

/* FOOTER */ 

.footer {
    padding: 40px 0;
    background-color: #fff;
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}
.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover {
    opacity: 0.9;
}
.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover {
    opacity: 1;
}
.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
/* finish footer */

/* Media query */

@media screen and (max-width: 768px) {
    .heading {
        padding: 0px 20px;
    }
    .heading h1 {
        font-size: 36px;
    }
    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container {
        padding: 0px;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content {
        padding: 0px;
        font-size: 16px;
    }
}