@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.inicie-page {
  background-image: url(../imagenes/navbar/fondologo1.jpg);
  height: 100vh;
  background-position: center;
}

.allPerson .person1 {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid #000000;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(207, 244, 252, 0.5019607843);
}
.allPerson .person1 .franco {
  height: max-content;
  width: 8rem;
}
.allPerson .person1 .pA {
  height: max-content;
  width: 7rem;
}
.allPerson .person1 .medu {
  height: max-content;
  width: 7rem;
}
.allPerson .person1 .infoF {
  padding: 2rem;
  font-size: 0.9rem;
  justify-content: center;
  text-align: center;
}

.allPerson .person2 {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid #000000;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(207, 244, 252, 0.5019607843);
}
.allPerson .person2 .juani {
  height: max-content;
  width: 8rem;
}
.allPerson .person2 .tA {
  height: max-content;
  width: 7rem;
}
.allPerson .person2 .tK {
  height: max-content;
  width: 7rem;
}
.allPerson .person2 .infoJ {
  padding: 2rem;
  font-size: 0.9rem;
  justify-content: center;
  text-align: center;
}

.allPerson .person3 {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid #000000;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(207, 244, 252, 0.5019607843);
}
.allPerson .person3 .fran {
  height: 13rem;
  width: 12rem;
}
.allPerson .person3 .axe {
  height: max-content;
  width: 7rem;
}
.allPerson .person3 .doom {
  height: max-content;
  width: 7rem;
}
.allPerson .person3 .infoFr {
  padding: 2rem;
  font-size: 0.9rem;
  justify-content: center;
  text-align: center;
}

.allPerson .person4 {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid #000000;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(207, 244, 252, 0.5019607843);
}
.allPerson .person4 .chelo {
  height: max-content;
  width: 8rem;
}
.allPerson .person4 .earth {
  height: max-content;
  width: 7rem;
}
.allPerson .person4 .qop {
  height: max-content;
  width: 7rem;
}
.allPerson .person4 .infoC {
  padding: 2rem;
  font-size: 0.9rem;
  justify-content: center;
  text-align: center;
}

.allPerson .person5 {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid #000000;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(207, 244, 252, 0.5019607843);
}
.allPerson .person5 .jr {
  height: 14rem;
  width: 10rem;
}
.allPerson .person5 .wr {
  height: max-content;
  width: 7rem;
}
.allPerson .person5 .wd {
  height: max-content;
  width: 7rem;
}
.allPerson .person5 .infoJr {
  padding: 2rem;
  font-size: 0.9rem;
  justify-content: center;
  text-align: center;
}

.backimg {
  background-image: url(../imagenes/navbar/fondoAegis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container .heading {
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 30px 20px;
}
.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3019607843);
}

.container .box-container .box img {
  height: 80px;
}

.container .box-container .box h3 {
  color: rgb(68, 68, 68);
  font-size: 22px;
  padding: 10px 0;
}

.container .box-container .box p {
  color: rgb(119, 119, 119);
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}
.container .box-container .box .btn:hover {
  letter-spacing: 1px;
}

body {
  background-color: #f2f2f2;
}

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
  position: relative;
}

.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #04067c;
}

.heading p {
  font-size: 18px;
  color: rgb(102, 102, 102);
  margin-bottom: 35px;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.container .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container .about .about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.container .about .about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.container .about .about-image:hover img {
  transform: scale(1.2);
}
.container .about .about-content {
  flex: 1;
}
.container .about .about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #333333;
}
.container .about .about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #666666;
}

.inicie-contact {
  background-image: url(../imagenes/navbar/fondohero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}
.inicie-contact .info-contact {
  background-color: rgba(207, 244, 252, 0.5019607843);
}
.inicie-contact .icons-reds {
  font-size: 2rem;
}
.inicie-contact .contactAndForm {
  margin-top: 2.5rem;
  width: 100%;
}

.footer {
  padding: 40px 0;
  background-color: #ffffff;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4c4d4d;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #cccccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .heading {
    padding: 0px 20px;
  }
  .heading h1 {
    font-size: 36px;
  }
  .heading p {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container {
    padding: 0px;
  }
  .about {
    padding: 20px;
    flex-direction: column;
  }
  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content {
    padding: 0px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
